body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 50px 1fr 100px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;
    background-color: #E8F5E9;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.logo img {
   clip-path: circle(50%);
   width: 40px;
   height: 40px;
}

.logo p {
    font-weight: 600;
    color: #1B5E20;
    margin: 0;
    padding: 0;
}

.main {
    grid-area: main;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.search-bar {
    height: fit-content;
    padding: 1rem;
}

.search-bar input {
    height: 30px;
    width: 40%;
    border: none;
    border-radius: 3px;
    outline: 1px solid #E0E0E0;
}

.search-bar button {
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #E8F5E9;
    outline: 1px solid #E0E0E0;
}

.search-bar button:hover {
    background-color: #1B5E20;
    color: #F5F5F5;
}

.details {
    display: grid;
    grid-template-areas: 
    "profile repository";
    grid-template-columns: 400px 1fr;
    height: 100%;
}

.profile {
    grid-area: profile;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile img {
   width: 20vw;
   height: 40vh;
   border-radius: 50%;
   border: none;
   outline: 2px solid #E0E0E0;
}

.profile p {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
    margin-top: 5px;
}

#repos {
    grid-area: repository;
    height: 100%;
    max-height: 430px;
    overflow-y: scroll;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.repo {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    box-sizing: border-box;
}


.footer {
    grid-area: footer;
    background-color: #E8F5E9;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

.logo-footer p {
    font-weight: 600;
    font-size: 12px;
    color: #1B5E20;
}

.logo-footer img {
   clip-path: circle(50%);
   width: 30px;
   height: 30px;
}

.copyright-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.copyright-footer p {
    font-weight: 600;
    font-size: 12px;
    color: #1B5E20;
}